<h4>My Dashboard</h1>

<button class="btn-large" type="submit"><a href="/dashboard/new"><i class="fas fa-pencil-alt prefix"></i>Create New Post</a></button>

{{#if posts.length}}
<h5>Post History</h5>
    {{#each posts as |post|}}
      {{> dashboard-posts post}}
    {{/each}}
{{/if}}