<!-- Container for Text Entry-->
<div class="container center-align">
    <!-- Row for Title-->
  <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix"></i>
            <textarea id="post_title" class="materialize-textarea" value="{{post.title}}"></textarea>
            <label for="icon_prefix2">Title</label>
          </div>
        </div>
      </form>
  </div>
  <!-- Row for Body -->
  <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="post_body" class="materialize-textarea" value="{{post.body}}"></textarea>
            <label for="textarea1">Update your post...</label>
          </div>
        </div>
      </form>
    </div>
  <div class="row right-align">
    <button class="btn-large waves-effect waves-light" type="submit" name="action"><span style="font-size: large">Submit Edit</span>
     <i class="right-align far fa-paper-plane"></i>
    </button>
    <button class="btn-large waves-effect" id="deletePost"><i class="fas fa-trash-alt"></i><span style="font-size: large">Delete Post</span></button>
  </div>
</div>

<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>